@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --bg-color:#fff;
    --btn-color: #2373e3;
    --dark-color: #000;
    --helper-color: green;
}

html{
  font-size: 100%;
}

body{
  font-family: "Sen", sans-serif;
}
/* React Toastify CSS */
.toastBody {
  font-family: "Sen", sans-serif;
  font-size: 0.875rem !important;
}