*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial sans-serif;
}

:root{
    --bg-color:#fff;
    --btn-color: #2373e3;
    --dark-color: #000;
    --helper-color: green;
}

html{
  font-size: 100%;
}